<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %} 
          - Twilio Hackpack for Heroku and Flask</title>
    {% block head %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="apple-touch-icon"
        href="http://static1.twilio.com/packages/favicons/img/Twilio_57.png" />
    <link rel="apple-touch-icon" sizes="72x72"
        href="http://static1.twilio.com/packages/favicons/img/Twilio_72.png" />
    <link rel="apple-touch-icon" sizes="114x114"
        href="http://static0.twilio.com/packages/favicons/img/Twilio_114.png" />
  </head>
  <body>
      {% block content %}{% endblock %}
  </body>
</html>
