{% extends "base.html" %}

{% block title %}Installation Success!{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css"
href="http://static1.twilio.com/packages/base.css?b06713f21762cacdebd4f02020e12944"
/>
<link rel="stylesheet" type="text/css"
href="http://static0.twilio.com/packages/buttons.css?e27a601383acc6a104994f6378db1987"
/>
<link rel="stylesheet" type="text/css"
href="http://static0.twilio.com/packages/twilio-conference.css?75cf120b62b23c8efe22ec1550c0b271"
/>
{% endblock %}

{% block content %}
<div id="twiliocon-2012" class="twiliocon-wrapper">
    <div id="twiliocon-2012-header">
        <h1 class="section-heading"><span class="logo">Twilio</span>
            Success!</h1>
    </div>

    <div id="twiliocon-2012-content">
        <h2 class="section-heading">You deployed Twilio Hackpack
            for Heroku and Flask.</h2>
        <div class="blurb">Here are some important links:</div>
        <div class="blurb" style="font-size: 14px; margin: -20px 0 0 0">Voice Request URL: {{
            params['voice_request_url'] }}</div>
        <div class="blurb" style="font-size: 14px">SMS Request URL: {{
            params['sms_request_url'] }}</div>
        <div class="blurb" style="font-size: 14px">Client URL: {{
            params['client_url'] }}</div>
    </div>

    <footer>
        <div id="twiliocon-2012-footer"><a
                id="twiliocon-2011-link" 
                href="http://www.meetup.com/Twilio/New-York-NY/">
                Lovingly crafted by Twilio New York</a>
        </div>
    </footer>
</div>
{% endblock %}
