{% extends "base.html" %}

{% block title %}Successfully Deployed{% endblock %}

{% block header %}Success!{% endblock %}

{% block message %}You deployed Twilio Hackpack for Heroku and Flask{% endblock %}

{% block blurb %}Here are some helpful links to get you started:{% endblock
%}

{% block content %}
    <a href="https://www.twilio.com/user/account/phone-numbers/incoming"
       class="button">Configure Twilio</a>

    <dl id="url_list">
        {% for key, value in params.iteritems() %}
        <dt>{{key}}</dt>
        <dd><a href="{{value}}">{{value}}</a></dd>
        {% endfor %}
    </dl>

{% endblock %}
